<section class="object-top overflow-hidden bg-cover my-12">
	<div>
		<div class="px-4 py-12 mx-auto max-w-7xl sm:px-6 lg:py-16 lg:px-8">
			<div class="px-6 py-6 bg-white md:py-12 md:px-12 xl:flex xl:items-center">
				<div class="xl:w-0 xl:flex-1">
					<h2 class="sb-heading">
						{% if cta.line_one %}
							<span class="block">
								{{cta.line_one}}
							</span>
						{% endif %}
						{% if cta.line_two %}
							<span class="text-brand-primary-300">
								{{cta.line_two}}
							</span>
						{% endif %}

					</h2>
				</div>
				<div class="mt-8 sm:w-full sm:max-w-md xl:mt-0 xl:ml-8 text-right flex justify-center">
					{% if cta.link %}
						<a href="{{cta.link}}" target="{{cta.new_window ? '_blank' : '_self' }}" class="sb-button">
							{% if cta.link_label %}
								{{cta.link_label}}
							{% endif %}
						</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>
